* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  /* background-color: rgba(5, 5, 5, 255) ; */ }

a:hover {
  color: #cab20a; }

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/fondoindex.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%; }

.principal__seccion {
  word-spacing: 0.2rem; }

h1 {
  color: #ffffff;
  text-shadow: 0px 4px 4px #050505;
  font-size: 2.5rem;
  padding-left: 5.3rem;
  text-align: center;
  border: 1px solid white; }

/* FIN ESTILOS INDEX-MAIN*/
.secundario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/burgerhd.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center; }

.tercera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/local4.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center; }

.secundario__anchor {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0px 4px 4px #050505;
  padding-left: 5.3rem; }

.header {
  background-color: #050505; }
  .header__nav {
    display: flex; }
  .header__logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2.5rem; }
  .header__logo:hover {
    color: #cab20a; }
  .header__title {
    font-size: 6rem;
    color: red;
    text-decoration: none; }
  .header__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
    align-items: flex-end; }
  .header__item {
    padding: 0.5rem;
    background-color: #050505; }
  .header__anchor {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1.3rem; }
  .header__anchor:hover {
    color: #cab20a; }

.hero {
  background-color: #f3eee8; }
  .hero__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .hero__anchor {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #523429;
    margin: 1rem;
    padding: 0.7rem;
    text-align: center; }
  .hero__div--activo {
    background-color: #050505;
    padding: 1.5rem; }
  .hero__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3eee8;
    padding: 1.5rem;
    margin: 1.5rem;
    border: 1px solid #523429;
    border-radius: 6px; }
  .hero__text {
    text-align: justify; }
  .hero__img {
    width: 100%; }
  .hero__subtitulo {
    margin: 0.5rem 1rem;
    padding: 0.3rem;
    color: #523429;
    text-align: center; }

.contact__section {
  display: flex;
  background-color: #050505;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.contact__div {
  margin: 2rem; }

.contact__subtitulo {
  color: white;
  text-align: center; }

.contact__section1 {
  background-color: #f3eee8;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center; }

.menu {
  background-color: #f3eee8; }
  .menu__H1 {
    background-color: #050505;
    padding: 3rem; }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem; }
  .menu__item {
    display: flex;
    /* margin: 1rem; */
    justify-content: center;
    list-style-type: none;
    /* background-color: #f3eee8; */ }
  .menu__anchor {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    background-color: #523429; }
  .menu__main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .menu .menu__div--activo {
    align-content: center;
    justify-content: center;
    margin: 1rem; }
  .menu__h2 {
    text-shadow: 0px 1px 1px #050505;
    font-size: 2rem;
    border: 1px solid black; }
  .menu .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem; }
  .menu__card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-self: center;
    justify-content: center; }
  .menu__img {
    width: 100%;
    object-fit: cover; }
  .menu__h3 {
    text-align: center;
    font-size: 1.5; }
  .menu__text {
    text-align: justify;
    margin: 1rem; }

.formulario__input {
  color: #888888;
  border: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 2.3rem;
  padding: 4px 25px; }

.formulario__label {
  margin: 0.5rem;
  color: black;
  font-size: 1.3rem; }

.btn {
  background-color: #523429;
  color: white;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
  width: 100%; }

.pie {
  background-color: #050505; }
  .pie__item1 {
    list-style-type: none; }
  .pie__lista1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem; }
  .pie__texto {
    color: #ffffff;
    text-align: center; }
  .pie__anchor {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
    padding: 00.5rem;
    align-self: center; }
  .pie__div {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .pie__lista2 {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .pie__item2 {
    list-style-type: none; }
  .pie__anchor--activo {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
    padding: 00.5rem; }

.aboutus {
  background-color: #f3eee8; }
  .aboutus__img {
    width: 100%;
    max-width: 30rem;
    margin: 1rem; }
  .aboutus__titulo {
    align-self: center;
    text-align: center;
    margin: 2rem;
    color: black; }
  .aboutus__desc {
    color: black;
    margin: 1rem;
    text-align: justify; }
  .aboutus__article {
    display: flex;
    align-items: center;
    justify-content: center; }

.nosotrosTitulo {
  background-color: #050505;
  text-align: center;
  padding: 1rem; }

/* HASTA 320*/
@media screen and (max-width: 320px) {
  .menu__list {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: center;
    background-color: #f3eee8; }
  .aboutus__titulo {
    max-width: 15rem; }
  .aboutus__desc {
    max-width: 15rem; }
  .aboutus__img {
    max-width: 19rem; }
  .secundario__anchor {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0px 4px 4px #050505;
    /* padding-left: 5.3rem; */
    padding: 3rem;
    text-align: center; }
  .pie__lista2 {
    padding: 0rem; } }
