* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: rgba(5, 5, 5, 255) ; */

}

a:hover {
    color: #cab20a;
}

/* ESTILOS HEADER */

.header {
    background-color: rgba(5, 5, 5, 255);
}

.header__nav {
    display: flex;
}

.header__logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.header__logo:hover {
    color: #cab20a;
}

.header__title {
    font-size: 6rem;
    color: red;
    text-decoration: none;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
    align-items: flex-end;

}

.header__item {
    padding: 0.5rem;
    background-color: rgba(5, 5, 5, 255);
}

.header__anchor {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1.3rem;
}

.header__anchor:hover {
    color: #cab20a;
}

/* FIN ESTILOS HEADER*/

/* INICIO ESTILOS INDEX-MAIN*/

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/fondoindex.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;


}

.principal__seccion {
    word-spacing: 0.2rem;


}

h1 {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(5, 5, 5, 255);
    font-size: 2.5rem;
    padding-left: 5.3rem;
    text-align: center;
    border: 1px solid white;

}

/* FIN ESTILOS INDEX-MAIN*/

.secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/burgerhd.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
}

.tercera {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/local4.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
}


.secundario__anchor {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 0px 4px 4px rgba(5, 5, 5, 255);
    padding-left: 5.3rem;
}

/* INICIO ESTILOS HERO-LOCALES*/

.grillaLocales {
    display: grid;
    grid-template-rows: 5rem 8rem 1fr 1fr 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "heading heading"
        "titulo titulo"
        "locales locales2"
        "locales3 locales4"
        "footer footer";
}

.hero__section {
    background-color: #f3eee8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: locales;

}

.hero__section2 {
    background-color: #f3eee8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: locales2;

}

.hero__section3 {
    background-color: #f3eee8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: locales3;
}

.hero__section4 {
    background-color: #f3eee8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: locales4;

}

.hero__anchor {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #523429;
    margin: 1rem;
    padding: 0.7rem;
    text-align: center;

}

.hero__div--activo {
    background-color: rgba(5, 5, 5, 255);
    padding: 1.5rem;

}


.hero__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3eee8;
    padding: 1.5rem;
    margin: 1.5rem;
    border: 1px solid #523429;
    border-radius: 6px;
}

.hero__text {
    text-align: justify;
}

.hero__img {
    width: 100%;
}

.hero__subtitulo {
    margin: 0.5rem 1rem;
    padding: 0.3rem;
    color: #523429;
    text-align: center;

}

/* INICIO ESTILOS FORMULARIO*/



.contact__section {
    display: flex;
    height: 40vh;
    background-color: rgba(5, 5, 5, 255);
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.contact__div {
    margin: 2rem;
}

.contact__subtitulo {
    color: white;

}

.contact__section1 {
    background-color: #f3eee8;
    padding: 2rem;

}

.formulario__div {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 3rem;
}

.formulario__input {
    color: #888888;
    border: none;
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 2.3rem;
    padding: 4px 25px;
}

.formulario__label {
    margin: 0.5rem;
    color: black;
    font-size: 1.3rem;
}

.btn {
    background-color: #523429;
    color: white;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
    width: 100%;
}


/* COMIENZA ESTILOS MENU */

.menu__main {
    background-color: #f3eee8;
}


.divH1 {
    background-color: rgba(5, 5, 5, 255);
    padding: 3rem;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3eee8;
}

.menu__item {
    margin: 1rem;
    list-style-type: none;
    background-color: #f3eee8;
}

.menu {
    background-color: #f3eee8;
}

.menu__anchor {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    background-color: #523429;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu__div--activo {
    align-self: center;
    justify-content: center;
    margin: 3rem;
}

.menu__h2 {
    text-shadow: 0px 1px 1px rgba(5, 5, 5, 255);
    font-size: 3rem;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2rem;
}

.menu__card {
    background-color: #f3eee8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 6px;
    align-self: center
}

.menu__img {
    margin: 2rem;
    width: 100%;
    max-width: 25rem;
}

.menu__h3 {
    text-align: center;
    font-size: 1.5rem;
    max-width: 25rem;
}

.menu__text {
    text-align: justify;
    margin: 2rem;
    max-width: 25rem;
    flex-wrap: nowrap;
}

/* COMIENZA ESTILO NOSOTROS*/

.nosotrosGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: "header header header"
        "titulo titulo titulo"
        "nosotros nosotros nosotros"
        "footer footer footer";
}

.nosotrosTitulo {
    background-color: rgba(5, 5, 5, 255);
    padding: 2rem;
    text-align: center;
    grid-area: titulo;
}


.main__bloque {
    background-color: rgba(5, 5, 5, 255);
    grid-area: nosotros;

}

.bloque__img {
    width: 100%;
    padding: 2rem;
    max-width: 30rem;

}

.bloque {
    display: flex;
    justify-content: space-between;
}

.bloque__titulo {
    align-self: center;
    margin: 2rem;
    color: #ffffff;
}

.bloque__desc {
    color: #ffffff;
    margin: 2rem;
    text-align: justify;
}

.bloque__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COMIENZA ESTILOS DEL PIE */


.pie {
    background-color: rgba(5, 5, 5, 255);
    

}


.pie__item1 {
    list-style-type: none;
}

.pie__lista1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.pie__texto {
    color: #ffffff;
}


.pie__anchor {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
    padding: 00.5rem;
    align-self: center;
}


.pie__div {
    display: flex;
    align-items: center;
}

.pie__lista2 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.pie__item2 {
    list-style-type: none;
}



.pie__anchor--activo {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
    padding: 00.5rem;

}


/* FIN ESTILOS DEL PIE*/


