.contact__section {
    display: flex;
    background-color: rgba(5, 5, 5, 255);
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.contact__div {
    margin: 2rem;
}

.contact__subtitulo {
    color: white;
    text-align: center;
}




.contact__section1 {
    background-color: #f3eee8;
    padding: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}