.hero{
    background-color: #f3eee8;

    &__section {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    
    }
    
    &__anchor {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #523429;
        margin: 1rem;
        padding: 0.7rem;
        text-align: center;
    
    }
    
    &__div--activo {
        background-color: rgba(5, 5, 5, 255);
        padding: 1.5rem;
    
    }
    
    
    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f3eee8;
        padding: 1.5rem;
        margin: 1.5rem;
        border: 1px solid #523429;
        border-radius: 6px;
    }
    
    &__text {
        text-align: justify;
    }
    
    &__img {
        width: 100%;
    }
    
    &__subtitulo {
        margin: 0.5rem 1rem;
        padding: 0.3rem;
        color: #523429;
        text-align: center;
    
    }
}