/* HASTA 320*/

@media screen and (max-width: 320px) {
    
    .menu__list {
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        justify-content: center;
        background-color: #f3eee8;
    }

    .aboutus__titulo{
        max-width: 15rem;
    }

    .aboutus__desc{
        max-width: 15rem;
    }

    .aboutus__img{
        max-width: 19rem;
    }

    .secundario__anchor {
        text-decoration: none;
        color: #ffffff;
        font-size: 2rem;
        text-shadow: 0px 4px 4px #050505;
        /* padding-left: 5.3rem; */
        padding: 3rem;
        text-align: center;
    }

    .pie__lista2 {
        padding: 0rem;
    }
}

