/* HASTA 320*/

@media screen and (max-width: 320px) {
    
    .menu__list {
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        justify-content: center;
        background-color: #f3eee8;
    }

    .aboutus__titulo{
        max-width: 15rem;
    }

    .aboutus__desc{
        max-width: 15rem;
    }

    .aboutus__img{
        max-width: 19rem;
    }
}